
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1 rem = 10px */
}


@media (max-width:1400px) and (min-width:900px) {
 html{
  font-size: 45%; /* 1 rem = 8px */
 } 

}
